
/** General **/

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 35px;
}

body header, footer{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

/** Media **/

video {
    width: 80%;
    max-width: 960px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}

iframe {
    width: 80%;
    height: 350px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/** Anclas **/

#inicio, #productos, #resenias, #contacto {
    position: relative;
    top: -6rem;
}

/** Header **/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #DBB88E;
    color: #491404;
    padding: 10px 20px;
    background-image: url(../images/vector-fondo-patron-granos-cafe.avif);
    background-size: contain;
}

.logo {
    max-width: 5rem;
}

header h1 {
    font-size: 20px;
}

header h1:hover {
    transition: transform 0.2s ease-out;
    transform: translateY(-10px);
    cursor: pointer;
}

.nav {
    padding: 5px 10%;
    font-weight: bold;
    font-size: 20px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-list li a {
    text-decoration: none;
    color: #491404;
}

.nav-list li:hover {
    transition: transform 0.2s ease-out;
    transform: translateY(-10px);
}

.abrir-menu, 
.cerrar-menu {
    display: none;
}

/** Main **/

main {
    background-color: #DBB88E;
    padding: 6rem;
    margin: auto;
}

main h2 {
    color: #491404;
    text-align: center;
    margin-bottom: 2rem;
}

/** Seccion Media **/

.secciones-media h2{
    margin-top: 2rem;
}

/** Seccion Sobre Nosotros **/

.secciones-nosotros {
    background-image: url(../images/cafeteria-patrones-fisuras.avif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 4rem 2rem;
    border-radius: 10px;
}
.sobre-nosotros {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid brown;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

.sobre-nosotros p {
    font-style: italic;
    font-size: 25px;
    color:#742812;
    text-align: center;
}

/** Seccion Productos **/

.secciones-producto {
   padding: 2rem 1rem;
}

.producto img {
    background-color: #DBB88E;
    height: 15rem;
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.productos {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.producto {
    background-color: #491404;
    width: 15rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.producto-contenido {
    display: flex;
    flex-direction: column;
    color: #DBB88E;
    text-align: center;
    padding: 15px;   
}

.producto-contenido h3 {
    margin-bottom: 15px; 
}

.producto-contenido span {
    font-size: 1.1em;
    margin-bottom: 15px; 
}

.producto-contenido .agregar-producto {
    background-color: #00A95B;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid #00A95B;
    cursor: pointer;
}

.producto-contenido .detalle {
    background-color: white;
    color: #685237;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
}

/** Seccion Contacto **/

.secciones-contacto {
    margin-top: 4rem;   
}

.formContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#ebe7e6;
    color: #742812;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px #742812;
    width: 60%;
    margin: auto;
}

.formContacto .inlineForm {
    margin: 10px;
}

.inlineForm label {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.inlineForm input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #DBB88E;
}

.inlineForm textarea {
    resize: none;
    padding: 10px;
    height: 200px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #DBB88E;
}

.btn {
    padding: 8px;
    margin-top: 5px;
    border-radius: 10px;
    background-color:#e0aa67;
    color:#fcfbfb;
    border: solid transparent;
    cursor: pointer;
}

.btn:hover {
    transition: background-color 0.3s, transform 0.3s;
    background-color: #742812;
    transform: scale(1.2);
}

/** Seccion Reseñas **/

.resenias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    place-items: center;
    padding: 1rem; 
}

.card {
    display: flex;
    background-color:#ebe7e6;
    color: #cca370;
    border-radius: 10px;
    position: relative; /** ver esto**/
    width: 15rem;
    margin: 2rem;
    padding: 2rem 1rem 0;
    justify-content: center;
    box-shadow: 10px 10px 10px #491404;
    transition: transform 0.2s ease-out;
}

.card:hover{
    transform: translateY(-10px);
}

.card img {
    position: absolute; /** ver esto **/
    align-items: center;
    top: -2rem;
    height: 4rem;
    width: 4rem;
    border-radius: 15px;
}

.card-content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

.card-nombre {
    font-weight:700;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.card .fa-solid {
    color: rgb(255, 217, 0);
}

.card-fecha {
    font-size: 0.7rem;
}

.card-content p {
    font-style: italic;
    font-size: 0.9rem;
}

/** Footer **/

footer {
    background-color: #491404;
    color: #DBB88E;
    padding: 2rem 4rem;
    margin-top: auto;
}

.footerNav ul {
    list-style: none;
    margin-top: 20px;
}

footer a {
   color: #DBB88E;
   text-decoration: none;
}

footer p {
    text-align: center;
    margin-top: 40px;
}

.footer-contenido h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 2rem;
}

.footer-contenido-interno {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 5rem;
}

.redes ul {
    list-style: none;   
    margin-top: 20px;
}

/** Media Queries **/

/* Estilos para pantallas pequeñas (menos de 600px) */

@media screen and (max-width: 600px){
    .abrir-menu, 
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #742812;
    }

    .cerrar-menu {
        color: #742812;
    }

    header {
        position: static;
    }

    header h1:hover {
        transition: none;
        transform: none;
        cursor: pointer;
    } 
 
    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        padding: 2rem;
        bottom: 0;
        background-color:#cca370;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    .nav-list {
        flex-direction: column;
        align-items: end;
    }
    .nav-list li a {
        color:#742812;
    }
    /* Sobre nosotros */
    .sobre-nosotros p {
        font-style: normal;
        font-size: 20px;
        color:#685237;
        text-align: center;
    }
    /* Media */
    iframe {
        height: 200px; 
    }
    /* Main */
    main {
        padding: 2rem;
    }
    main h2 {
        margin-bottom: 1rem;
        font-size: 25px;
    }
    /* Productos */
    .secciones-producto {
        padding: 1rem;
    }
    .productos {
        margin-top: 1rem;
        padding: 1rem;
        max-width: 300px;
    }
    /* Contacto */
    .secciones-contacto {
        margin-top: 2rem;
        margin-bottom: 2rem;   
    }

    .formContacto {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 90%;
    }
    /* Footer */
    .footer-contenido h2 {
        font-size: 25px;
    }
    .footer-contenido-interno {
        flex-wrap: nowrap;
    }
}

/* Estilos para pantallas medianas (menos de 768px) */

@media only screen and (max-width: 768px) {
    
    .logo {
        max-width: 4rem;
    }

    header h1 {
        font-size: 17px;
    }

    .nav {
        padding: 5px 10%;
        font-weight: bold;
        font-size: 17px;
    }

    main {
        padding: 2rem;
        margin: auto;
    }

    main h2 {
        color: #491404;
        text-align: center;
        margin-bottom: 1rem;
        font-size: 25px;
    }

    .sobre-nosotros p {
        font-style: normal;
        font-size: 20px;
        color:#685237;
        text-align: center;
    }

    .secciones-contacto {
        margin-top: 2rem;
        margin-bottom: 2rem;   
    }

    .formContacto {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 80%;
    }
}
