
/** General **/

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}

body header, footer{
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/** Media **/

video {
    width: 80%;
    max-width: 960px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}

iframe {
    width: 80%;
    height: 350px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/** Anclas **/

#inicio, #productos, #resenias, #contacto {
    position: relative;
    top: -6rem;
}

/** Header **/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #DBB88E;
    color: #491404;
    padding: 10px 20px;
    background-image: url(../images/vector-fondo-patron-granos-cafe.avif);
    background-size: contain;
}

.logo {
    max-width: 5rem;
}

header h1 {
    font-size: 20px;
}

header h1:hover {
    transition: transform 0.2s ease-out;
    transform: translateY(-5px);
    cursor: pointer;
}

.nav {
    padding: 5px 10%;
    font-size: 20px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-list li a {
    text-decoration: none;
    color: #491404;
}

.nav-list .btn-cart .btn-icono {
    border: none;
    background-color: unset;
    cursor: pointer;
}

.nav-list .btn-cart .btn-icono .icon-cart {
    font-size: 20px;
    color:#491404;
}

.nav-list .btn-cart span {   
    color:#491404;
    font-weight: 700;
    font-size: 20px;
}

.nav-list li:hover {
    transition: transform 0.2s ease-out;
    transform: translateY(-5px);
}

/** Carrito de Compras**/

.cart {
    display: none;
    position: absolute;
    opacity: 0;
    right: -1rem;
    top: 2rem;
    background-color: rgba(73, 44, 17, 0.6);
    backdrop-filter: blur(5px);
    padding: 1rem;
    border-radius: .8rem;
    z-index: 10;
}

.cart table {
    width: 100%;
    border-collapse: collapse;
}

.cart table thead {
    border-bottom: 1px solid #ebe7e6;
}

.cart table thead th {
    padding: 1rem;
    color: #ebe7e6;
}

.cart table tbody tr {
    padding: 1rem 0;
}

.cart table tbody td {
    color: #ebe7e6;
    padding: 1rem;
}

.cart table tbody img {
    width: 5rem;
}

.cart table tbody p {
    font-size: 1rem;
}

.cart table tbody input {
    width: 5rem;
    background-color: transparent;
    border: 1px solid #ebe7e6;
    padding: .6rem;
    color: #ebe7e6;
    border-radius: .5rem;
    &:focus,
    &:active {
        outline: none;
    }
}

.cart table tbody button {
    background-color: red;
    border: none;
    width: 3rem;
    height: 3rem;
    color: #ebe7e6;
    border-radius: 50%;
    cursor: pointer;
}

.cart table tbody button:hover {
    background-color: rgb(185, 30, 30);
}

.cart table tfoot .total {
    text-align: right;
    padding-bottom: 1rem;
}

tfoot .total .heading-total {
    color: #ebe7e6;
}

tfoot .total .heading-total span {
    margin-left: .5rem;
    color: #ebe7e6;
}

.cart table tfoot .vaciarCarrito {
    width: 100%;
    background-color: #ebe7e6;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid #ebe7e6;
    cursor: pointer;
    color: black;
    font-weight: 700;
}

.cart table tfoot .vaciarCarrito:hover {
    background-color: white; 
}

.btn-cart {
    position: relative;
}

.btn-cart:hover .cart {
    display: block;
    opacity: 1;
}

/** Para dispositivos pequeños 600px **/

.abrir-menu, 
.cerrar-menu {
    display: none;
}

/** Main **/

main {
    background-color: #DBB88E;
    padding: 6rem;
    margin: auto;
}

main h2 {
    color: #491404;
    text-align: center;
    margin-bottom: 2rem;
}

/** Seccion Media **/

.seccion-media h2{
    margin-top: 2rem;
}

/** Seccion Sobre Nosotros **/

.seccion-nosotros {
    background-image: url(../images/cafeteria-patrones-fisuras.avif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 4rem 2rem;
    border-radius: 10px;
}
.sobre-nosotros {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid brown;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

.sobre-nosotros p {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 25px;
    color:#742812;
    text-align: center;
}

/** Seccion Productos **/

.seccion-productos {
   padding: 2rem 1rem;
}

.producto img {
    background-color: #DBB88E;
    height: 15rem;
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.productos {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.producto {
    background-color: #ebe7e6;
    width: 15rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.producto-contenido {
    display: flex;
    flex-direction: column;
    color: #742812;
    text-align: center;
    padding: 15px;   
}

.producto-contenido h3 {
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-weight: bold;
}

.producto-contenido span {
    font-size: 1.1em;
    margin-bottom: 15px; 
    letter-spacing: 1px;
}

.producto-contenido .agregar-producto {
    background-color: #3CB441;
    color: #ebe7e6;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid #3CB441;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
}

.producto-contenido .agregar-producto:hover {
    background-color: #268f29;
}

.producto-contenido .detalle {
    background-color: #742812;
    color: #ebe7e6;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #742812;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
}

.producto-contenido .detalle:hover {
    background-color: #8d402b;
}

/** Seccion Contacto **/

.seccion-contacto {
    margin-top: 4rem;   
}

.formContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#ebe7e6;
    color: #742812;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px #742812;
    width: 60%;
    margin: auto;
}

.formContacto .inlineForm {
    margin: 10px;
}

.inlineForm label {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.inlineForm input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #DBB88E;
}

.inlineForm textarea {
    resize: none;
    padding: 10px;
    height: 200px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #DBB88E;
}

.btn {
    padding: 8px;
    margin-top: 5px;
    border-radius: 10px;
    background-color:#e0aa67;
    color:#fcfbfb;
    border: solid transparent;
    cursor: pointer;
}

.btn:hover {
    transition: background-color 0.3s, transform 0.3s;
    background-color: #742812;
    transform: scale(1.2);
}

/** Seccion Reseñas **/

.resenias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    place-items: center;
    padding: 1rem; 
}

.card {
    display: flex;
    background-color:#ebe7e6;
    color: #cca370;
    border-radius: 10px;
    position: relative; /** ver esto**/
    width: 15rem;
    margin: 2rem;
    padding: 2rem 1rem 0;
    justify-content: center;
    box-shadow: 10px 10px 10px #491404;
    transition: transform 0.2s ease-out;
}

.card:hover{
    transform: translateY(-10px);
}

.card img {
    position: absolute; /** ver esto **/
    align-items: center;
    top: -2rem;
    height: 4rem;
    width: 4rem;
    border-radius: 15px;
}

.card-content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

.card-nombre {
    font-weight:700;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.card .fa-solid {
    color: rgb(255, 217, 0);
}

.card-fecha {
    font-size: 0.7rem;
}

.card-content p {
    font-style: italic;
    font-size: 0.9rem;
}

/** Footer **/

footer {
    background-color: #491404;
    color: #DBB88E;
    padding: 2rem 4rem;
    margin-top: auto;
}

.footerNav ul {
    list-style: none;
    margin-top: 20px;
}

footer a {
   color: #DBB88E;
   text-decoration: none;
}

.p1 {
    text-align: center;
    margin-top: 4rem;
}

.p2 {
    text-align: center;
}

footer span {
    font-weight: bold;
    font-family: cursive;
    font-size:larger;
    letter-spacing: 2px; /* Espacio entre letras */
    text-transform: uppercase; /* Texto en mayusculas */
}

.footer-contenido h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 2rem;
}

.footer-contenido-interno {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 5rem;
}

.redes ul {
    list-style: none;   
    margin-top: 20px;
}

/** Boton Flotante **/

.btn-flotante {
	color: #ffffff; /* Color del texto */
	border-radius: 10px; /* Borde del boton */
	background-color: #9c3418; /* Color de fondo */
	padding: 18px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;  
}

.btn-flotante:hover {
	box-shadow: 0px 15px 20px rgba(151, 78, 9, 0.3);
	transform: translateY(-7px);
}

/** Alertas **/

.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000;
    opacity: 0;
    animation: fadeInOut 5s ease forwards;
    font-size: 2rem;

    &.error {
        background-color: #f44336;
        color: #fff;
    } 
    
    &.success {
        background-color: #4caf50;
        color: #fff;
    }

}

/** Keyframes **/

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
    10% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
}

/** Media Queries **/

/* Estilos para pantallas pequeñas (menos de 600px) */

@media screen and (max-width: 600px){

    .abrir-menu, 
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #742812;
    }

    .cerrar-menu {
        color: #742812;
    }

    header {
        position: static;
    }

    header h1:hover {
        transition: none;
        transform: none;
        cursor: pointer;
    } 

    /** Nav **/

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        padding: 2rem;
      
        background-color:#cca370;
        font-size: 15px;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color:#742812;
    }    

    .nav-list .btn-cart .btn-icono {
        background-color: unset;
        cursor: pointer;
    }

    .nav-list .btn-cart .btn-icono .icon-cart {
        font-size: 15px;
        color:#742812;
    }

    .nav-list .btn-cart span {   
        font-size: 15px;
        color:#742812;
    }
    /** Carrito de Compras **/

    .cart table thead th {
        padding: 0.3rem;
    }

    .cart table tbody tr {
        padding: 0.3rem 0;
    }

    .cart table tbody td {
        padding: 0.3rem;
    }

    .cart table tbody img {
        width: 2rem;
    }

    .cart table tbody p {
        font-size: 0.8rem;
    }

    .cart table tbody input {
        width: 4rem;
        padding: .3rem;
        border-radius: .5rem;
    }

    .cart table tbody button {
        width: 2rem;
        height: 2rem;
    }

    .cart table tfoot .total {
        padding-bottom: 0.5rem;
    }

    tfoot .total .heading-total span {
        margin-left: .6rem;
    }

    .cart table tfoot .vaciarCarrito {
        padding: .5rem;
    }

    /** Sobre nosotros **/

    .sobre-nosotros p {
        font-style: normal;
        font-size: 20px;
        color:#685237;
        text-align: center;
    }

    /** Media **/

    iframe {
        height: 200px; 
    }

    /** Main **/

    main {
        padding: 2rem;
    }

    main h2 {
        margin-bottom: 1rem;
        font-size: 25px;
    }

    /** Productos **/

    .secciones-producto {
        padding: 1rem;
    }

    .productos {
        margin-top: 1rem;
        padding: 1rem;
        max-width: 300px;      
    }

    /** Contacto **/
    .secciones-contacto {
        margin-top: 2rem;
        margin-bottom: 2rem;   
    }

    .formContacto {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 90%;
    }

    /** Boton Flotante **/

    .btn-flotante {
		padding: 15px 25px;
		bottom: 20px;
		right: 20px;
	}

    /** Footer **/

    .footer-contenido h2 {
        font-size: 25px;
    }

    .footer-contenido-interno {
        flex-wrap: nowrap;
    }

    footer span {
        color: #ebe7e6;
        font-size: 15px;
    }

    /** Alertas **/

    .alert {
        padding: 12px 22px;
        font-size: 1.1rem;

        &.error {
            background-color: #f44336 !important;
            color: #fff !important;
        } 
    
        &.success {
            background-color: #4caf50 !important;
            color: #fff !important;
        }
    }
}

/* Estilos para pantallas medianas (menos de 768px) */

@media only screen and (max-width: 768px) {
    
    .logo {
        max-width: 4rem;
    }

    main {
        padding: 2rem;
        margin: auto;
    }

    main h2 {
        color: #491404;
        text-align: center;
        margin-bottom: 1rem;
        font-size: 25px;
    }

    .sobre-nosotros p {
        font-style: normal;
        font-size: 20px;
        color:#685237;
        text-align: center;
    }

    .secciones-contacto {
        margin-top: 2rem;
        margin-bottom: 2rem;   
    } 

    .formContacto {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 80%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    /* Contacto */

    .secciones-contacto {
        margin-top: 2rem;
        margin-bottom: 2rem;   
    }   
    
    .formContacto {
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 90%;
    }
    
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    /* Alertas */

    .alert {
        padding: 17px 27px;
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* Contacto */

    .secciones-contacto {
        margin-top: 2rem;
        margin-bottom: 2rem;   
    }   
    
    .formContacto {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 80%;
    }
    
}
